.avatar {
  border-radius: 50%;
  width: 50%; /* you can use % */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.panel1 {
  height: 10vh;
  overflow: auto;
}

.panel2 {
  height: 40vh;
  width: 90%;
  padding-left: 10%;
  overflow: auto;
}

.left > main {
  padding-right: 10%;
}

.panel3 {
  height: 40vh;
}

.panel3 > * {
  list-style: none;
  text-align: left;
}

.panel4 {
  padding-left: 10%;
  height: 5vh;
}

.iconlink > a {
  color: #fafafa
}

.iconlink > a:hover {
  color: #fafafa
}

.iconlink > a > .fab:hover, .fas:hover { 
  font-size: 1.2em;
  transition: 1s ease-out;
}

.panel3 > ul > li > a {
  color: #fafafa;
}

.panel3 > ul > li > a:hover {
  color: #fafafa;
  text-decoration: underline;
}
